# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.out
*.app

# Deployement
build
!Deployment/Readme.txt
Deployment/Assets/*
Deployment/*.dll


# Game Files
!MyGame
MyGame/*
MyGame/includes/*
MyGame/sources/*
MyGame/Assets/*

!MyGame/includes/Readme.txt
!MyGame/sources/Readme.txt
!MyGame/Assets/Readme.txt